.container {
  background-color: var(--clr-gray-200);
  display: flex;
  padding: 3em 5em;
  .heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  .topics {
    padding: 0 2em;
    p {
      margin-bottom: 0.3em;
      font-weight: 600;
      color: var(--clr-gray-400);
    }
    .topicsList {
      button {
        margin: 0.3em 0.1em;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
