.header {
  padding: 1em 4em 1em 4.5em;
  display: flex;
  align-items: center;
  .logoContainer {
    color: var(--clr-blue-300);
    flex: 1;
    svg {
      width: 9rem;
    }
  }
  .navIconList {
    display: flex;
    align-items: center;
    column-gap: 2em;
    color: var(--clr-gray-400);
    .navIcon {
      flex: 1;
      min-width: 3rem;
      display: grid;
      place-items: center;
      p {
        margin-top: 0.2em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .navAuthButtons {
    display: flex;
    column-gap: 0.4em;
    button: {
      flex: 1;
    }
  }
  .separator {
    width: 0.9px;
    margin: 0 1em;
    background-color: var(--clr-gray-400);
    height: 6.8vh;
  }
}
