.container {
  background-color: white;
  display: flex;
  padding: 3em 5em;
  .heading {
    font-size: 3rem;
    flex: 95%;
    font-weight: 300;
    margin-bottom: 0.5em;
    word-spacing: 0.1em;
  }
  .topics {
    padding: 0 2em;
    p {
      margin-bottom: 0.3em;
      font-weight: 600;
      color: var(--clr-gray-400);
    }
    .topicsList {
      button {
        margin: 0.3em 0.1em;
        font-size: 1.2rem;
        color: var(--clr-gray-800);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
